* {
	padding: 0px;
	margin: 0px;
}

.clear {
	clear: both;
	display: block;
}

body {
	/* background: red; */
	font-size: 18px;
}


.hello {
	background: yellow;
}

.sidebar { 
	background: #5d3954; 
}

.sidebar p {
	color: white;
	font-weight: 800;
	font-size: 12px;
	display: block;
	font-family: Helvetica, sans-serif;

	padding: 10px;

	margin: 10px;
	line-height: 30px;

	width: 200px;

	text-transform: uppercase;

	color: #ffffff;
	/*
		padding-right: 10px;
		padding-left: 10px;
		padding-top: 10px;
		padding-left: 10px;
	*/
}





.sidebar a {
	color: #facade;
	font-size: 20px;
	text-shadow: black 0px 3px 3px;
	border-bottom: 3px dashed red;
}

.sidebar a:hover {
	border-bottom: 3px dotted white;
}





